header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 10px 20px;
  .header-navigation {
    position: relative;
    left: 10%;
    padding: 20px;
    ul {
      white-space: nowrap;
      display: flex;
      list-style: none;
      gap: 20px;
    }
    li {
      font-family: "Inter Tight", sans-serif;
      font-size: 18px;
      font-weight: 600;
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: black;
    }
    a:hover {
      color: black;
    }
    a:active {
      color: black;
    }
    li a {
      text-decoration: none;
      color: #e09900;
      padding-bottom: 5px;
    }

    li.active a {
      border-bottom: 3px solid red;
    }
  }
  .header-language-selector {
    display: flex;
    position: relative;
    left: 8%;
    gap: 5px;
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 17px;
      margin: 0%;
    }
    .language-dropdown {
      display: none;
      list-style: none;
      margin: 0;
      padding: 8px 12px;
      background: white;
      position: absolute;
      top: 40px;
      left: 14px;
      z-index: 100;
      li {
        list-style: none;
      }
    }
    .language-dropdown.show {
      display: block;
    }
  }
  .header-buttons {
    display: flex;
    gap: 10px;
    button:first-of-type {
      border-radius: 6px;
      padding: 13px 16px;
      border: 3px solid #ededed;
      background-color: white;
      font-family: "Inter Tight", sans-serif;
      font-weight: 600;
      font-size: 14px;
    }
    button:last-of-type {
      padding: 16px 56px;
      border: none;
      color: white;
      background-color: #eb1d25;
      font-family: "Inter Tight", sans-serif;
      font-weight: 600;
      font-size: 14px;
      border-radius: 6px;
    }
  }
}
.main-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 40px;
  img {
    width: 34vw;
    height: 80vh;
    margin-left: 2%;
  }
  .hero-text-container {
    p:first-of-type {
      font-family: "Inter Tight", sans-serif;
      font-size: 83px;
      line-height: 100%;
      font-weight: 800;
      letter-spacing: -1%;
      line-height: 120%;
      text-transform: uppercase;
      position: relative;
      top: -7vw;
    }

    p:last-of-type {
      font-family: "Inter Tight", sans-serif;
      font-size: 20px;
      color: #737373;
      line-height: 168%;
      font-weight: 400;
      position: relative;
      top: -4vw;
    }
    span {
      color: #747474;
    }
    .hero-buttons {
      display: flex;
      gap: 20px;
      button:first-of-type {
        padding: 13px 56px;
        border: none;
        color: white;
        background-color: #eb1d25;
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: 14px;
        border-radius: 6px;
      }
      button:last-of-type {
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: 16px;
        padding: 10px 16px;
        border-radius: 6px;
        background-color: white;
        border: none;
        box-shadow: 0 3px 5px #747474;
      }
    }
  }
}
